body { background-color: black;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  h1{
    color:#e2ddc9;
    font-family: "Rubik Mono One";
      font-size: 30px;
      text-align:start;
      margin: 0px;
  }

  h2{
    color:#e2ddc9;
    font-family: "Rubik Mono One";
      font-size: 60px;
      text-align:start;
      margin: 0px;
  }

  h3{
    color: #e2ddc9;
    font-family: "Rubik Mono One";
      font-size: 30px;
      text-align:right;
      margin: 0px;
  }

  br {
    display: block;
    margin: 0px;
 }

  p{
    color:#e2ddc9;
    font-family: "Rubik Mono One";
      font-size: 20px;
      text-align:start;
      margin: 0px;
  }

  h4{
    color:#e2ddc9;
    font-family: Arial, Helvetica, sans-serif;
      font-size: 20px;
      text-align:start;
      margin: 0px;
  }

  section {
    display: block;
    background-color:#000000;
    padding: 120px;
    margin: 150px;
    text-align: center;
  }

  ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
  }

  li {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  #navigation-container {
    position:relative;
    background-color: #000000;
    display: flex;
    flex-direction: row;
    justify-content:center;
  }

  a {
    text-decoration: none;
    color: #e2ddc9;
    font-size: 30px;
    font-family: "Rubik Mono One";
    padding: 15px 30px;
    opacity: 0.7;
  }

  /*Floating Back-To-Top Button*/
#myBtn {
  position: fixed;
  bottom: 10px;
  float: right;
  right: 15%;
  left: 85%;
  max-width: 163px;
  width: 100%;
  font-size: 5px;
  text-align: left;
  background-color: #e2ddc9;
  padding: 1px;
  border-radius: 1px;
}

#myBtn {
    background-color: #e2ddc9;
    color: black; 
    border: 2px solid #857f89;
  }
  
  #myBtn:hover {
    background-color: #857f89;
    color: #e2ddc9;
  }

ol {
  display: block;
  list-style-type: decimal;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
  color:#e2ddc9;
  font-family: "Rubik Mono One";
  font-size: 30px;
  text-align:start;
  margin: 0px;
}
